<title>Cadastro de Post</title>
<link rel="stylesheet" href="/css.css">
<div class="app">
    <form action="/register-post/create" method="post">
        <label for="title">Título</label>
        <input style="text-transform: capitalize;" type="text" name="title" id="title">

        <label for="description">Descrição</label>
        <input type="text" name="description" id="description">
        <button type="submit">POSTAR</button>
    </form>
</div>